* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul{
    list-style: none;
}
header {
    display: flex;
    padding: 5vh;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(242, 239, 236);
    border-bottom: 1px solid gray;
}
#logo {
    color: #125E17;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}
nav a {
    font-size: medium;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bolder;
    color: black;
}
nav a:hover {
    color: #125E17;

}
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 7%;
    align-items: center;
}
.hero img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    justify-self: center;
}
.hero h1{
    color: #125E17;
}
.tecnologias {
    display: flex;
    flex-wrap: wrap;      
    justify-content: center;
    gap: 1rem;
    margin: 5rem;
}
.tecnologias h2 {
    width: 100%;           
    text-align: center;  
}

.fa-brands { 
    font-size: 40px;
    padding-right: 1rem;
}

.fa-html5 {
    color: orange;
}

.fa-bootstrap {
    color: blueviolet;
}

.fa-js {
    color: rgb(232, 210, 48);
}

.fa-react {
    color: rgb(3, 182, 182);
}

.bloque2 {
    display: flex;
    gap: 3rem;
    align-items: flex-start;
}

.experiencia, 
.estudios {
    flex: 1;
    text-align: center;
    text-decoration: none;
}
.experiencia h2, 
.estudios h2  {
    font-size: 2rem;
    padding-bottom: 1rem;
}
footer{
    background-color: rgb(242, 239, 236);
}
footer img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    justify-self: center;

}